# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.env/

# IDE and editor configuration files
.vscode/

# OS-specific files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak
/sample.py
/output
/testcases/answers

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Dependency files
*.egg-info/
pip-wheel-metadata/
build/
dist/

# Generated documentation
docs/_build/
*.rst~